/*
***********
COMMON
***********
*/

body{
    font-family: 'Roboto', sans-serif;

}

header .row{
    height: 4.375rem;
}

.w-150{
    width: 9.375rem;
}

.bg-grey{
    background-color: #e5e5e5;
}

.c-gold{
    color: #ff8f00;
}