/*
***********
COMMON
***********
*/

body{
    font-family: 'Roboto', sans-serif;

}

.w-150{
    width: 9.375rem;
}

.bg-whit{
    background-color: #f7f7f7;
}


.ldv-tex-g{
    color: #6c757d;
}

.bg-grey{
    background-color: #e5e5e5;
}

.c-gold{
    color: #ff8f00;
}

.bg-blue{
    background-color: #051e34;
}

.ldv-b-breadcumb{
    background-color: #165bba;
    border-radius: 25px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    padding: 1px 4px !important;
}

.ldv-flex{
    display: flex;
}

/*
***********
HEADER
***********
*/

header .row{
    height: 4.375rem;
}

.ldv-logo-small{
    width: 50px;
}

/*
***********
NAVBAR
***********
*/

.h-navbar{
    height: calc(100vh - 4.375rem);
}

#bg-images{
    background-image:url(/img/sidebar-bg.png);
    background-size: cover;
}

/*
***********
MAIN
***********
*/

main{
    width: 100%;
}

.ldv-bg-lightblue{
    background-color: #1b72e8;
}

/*
***********
OFFCANVAS
***********
*/

.ldv-w-offcanvas{
    width: 600px !important;;
}

/*
***********
TABELLA MAIN
***********
*/

.ldv-tb-i{
    width: 30px;
    height: 30px;
}

/*
***********
TABELLA MAIN
***********
*/


/*
***********
RESPONSIVE
***********
*/

/*768px*/

@media screen and (min-width: 768px){

    .ldv-bg-lightblue{
        display: flex;
    }

    #change{
        order: 1;
    }

    #square{
        width: 37px;
        height: 37px;
    }

    #ldv-f-w{
        font-size: 12px;
    }

    #bigbox{
        display: flex;
        flex-wrap: wrap;
    }
}


/*992px*/

@media (min-width: 992px){

    .h-navbar{
        width: 9.375rem;
    }

}
